<!DOCTYPE html>
<html lang="en">
<head>
	<style type="text/css">
		.sidenav{
			height: 100%;
			width: 160px;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: #111;
			overflow-x: hidden;
			padding-top: 20px;
		}
		.sidenav a {
			padding: 6px 8px 6px 16px;
			text-decoration: none;
			color: #818181;
			display: block;
		}
		.sidenav a:hover {
			color: #f1f1f1;
		}
		.main {
			padding: 0px 10px;
			margin-left: 160px;
		}
	</style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}
		Labans Website
		{% endblock title %}
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
	<div class="sidenav">
		<a href="/">Home</a>
		<a href="/create">Create</a>
		<a href="/todolists">View</a>
	</div>

	<div id="content", name="content", class="row justify-content-center">
		<div class="col-8">
			<h1 class="mt-2">Todo lists manager</h1>
			<hr class="mt-0 mb-4">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>